include ../../node_modules/bemto/bemto.jade
doctype html
html(lang="ru")
  head
    link(href="build/build.min.css", type="text/css", rel="stylesheet")
  body
    
    script(src="build/build.min.js")